@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/bootstrap/dist/css/bootstrap-theme.min.css);
* {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro'; }

/*================================= Header ===================================*/
.brand-image{
  background: url("../assets/logo/logo2.png");
  background-size: cover;
  width:320px;
  height:180px;
  opacity: 0.7;
  position:relative;
  right:50px;
}

.header {
  background: url("../assets/cctv-homepage-1.jpg");
  background-size: cover;
  padding-bottom: 5rem;
  position: relative; }
  .header .bg-top-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    left: 0;
    background-color: #151b6b; }

/* Navigation */
.navbar {
  background: transparent;
  border: none;
  box-shadow: none; }
  .navbar .navbar-nav li > a {
    color: #e5e5e5;
    text-shadow: none;
    font-weight: 550;
    font-size: 1.6rem; }
    .navbar .navbar-nav li > a:hover {
      color: #9e9e9e; }

.navbar-default .navbar-toggle {
  border-color: transparent; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent; }

/* Login/Profile card container */
#user-icon {
  height: 50px;
  width: 50px;
  margin-left: 1rem; }

.card-container {
  background-color: #ffffff;
  padding: 1rem;
  color: #666666;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  /* When user loged in NB: *-u means user */
  /* When user is not loged in NB: *-g means guest */ }
  .card-container .row.one-u .col-md-8 > span {
    font-size: 2rem; }
  .card-container .row.four-u .col-md-6 .btn-custom, .card-container .row.four-u .col-md-12 .text-center .btn-custom {
    background-color: #c3e6ed;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0;
    transition: 0.2s background-color; }
    .card-container .row.four-u .col-md-6 .btn-custom:hover, .card-container .row.four-u .col-md-12 .text-center .btn-custom:hover {
      background-color: #a7c5c9; }
    .card-container .row.four-u .col-md-6 .btn-custom:active, .card-container .row.four-u .col-md-12 .text-center .btn-custom:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .card-container .row.four-u .col-md-6 .btn-custom.active, .card-container .row.four-u .col-md-12 .text-center .btn-custom.active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .card-container .row.two-g {
    margin-top: 1rem; }
  .card-container .row.three-g {
    margin-top: 1rem; }
  .card-container .row.four-g .col-md-12 .btn-custom {
    background-color: #c3e6ed;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0;
    transition: 0.2s background-color;
    width: 100%;
    margin-top: 3rem; }
    .card-container .row.four-g .col-md-12 .btn-custom:hover {
      background-color: #a7c5c9; }
    .card-container .row.four-g .col-md-12 .btn-custom:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .card-container .row.four-g .col-md-12 .btn-custom.active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .card-container .row.five-g {
    margin-top: 1rem; }
    .card-container .row.five-g .col-md-12 a {
      text-decoration: none;
      color: #666666; }

#input-email {
  border: 2px solid #c3e6ed;
  border-radius: 0;
  font-style: italic; }

#input-password {
  border: 2px solid #c3e6ed;
  border-radius: 0; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

/* Header text */
.header-text {
  color: #ffffff; }
  .header-text h1 {
    font-size: 6rem;
    font-weight: 600; }
  .header-text p {
    font-size: 2rem; }
  .header-text .btn {
    border-radius: 0;
    font-weight: 600; }
    .header-text .btn:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .header-text .btn.register {
    background-color: #c3e6ed;
    color: #fff;
    transition: 0.2s all;
    border: 2px solid  #c3e6ed; }
    .header-text .btn.register:hover {
      background-color: #a7c5c9;
      border: 2px solid #a7c5c9; }
  .header-text .btn.learn-more {
    color: #c3e6ed;
    border: 2px solid  #c3e6ed;
    margin-left: 2rem;
    transition: 0.2s all; }
    .header-text .btn.learn-more:hover {
      background-color: #a7c5c9;
      border: 2px solid #a7c5c9;
      color: #fff; }
  .header-text .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none; }

/*================================= About us =================================*/
#about-us {
  background-color: #c3e6ed;
  color: #666666;
  padding-bottom: 5rem; }

#down-arrow {
  width: 40px;
  height: auto;
  margin-top: 1rem; }

/*================================= Feature ==================================*/
#features .row {
  margin-top: 5rem; }

@media (max-width: 991px) {
  #features .row {
    margin: 0; }
    #features .row .col-md-4 {
      margin-top: 3rem; } }

.feature .bg-circle {
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #c3e6ed; }

#img-feature {
  width: 50px;
  height: auto; }

/*================================= Package ==================================*/
#packages {
  margin-top: 3rem;
  background: white;
  background: -webkit-linear-gradient(white 0%, #d4fff5 8%, #1c59ff 41%, #0d0ffc 100%);
  background: -o-linear-gradient(white 0%, #d4fff5 8%, #1c59ff 41%, #0d0ffc 100%);
  background: -moz-linear-gradient(white 0%, #d4fff5 8%, #1c59ff 41%, #0d0ffc 100%);
  background: linear-gradient(white 0%, #d4fff5 8%, #1c59ff 41%, #0d0ffc 100%); }

.package-title {
  color: #666666; }

.package-container {
  background-color: white;
  padding: 2rem;
  width: 180px;
  margin: 4rem auto;
  color: #666666;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.3), 0px 3px 16px 2px rgba(0, 0, 0, 0.6); }
  .package-container h3 {
    font-size: 2.8rem;
    font-weight: 400; }
  .package-container p {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 400; }
  .package-container .btn-subscribe {
    margin-top: 1rem;
    color: #666666;
    font-weight: 600;
    border: none;
    border-radius: 0;
    transition: 0.2s all;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.5); }
    .package-container .btn-subscribe:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 22px rgba(0, 0, 0, 0.5); }
      .package-container ul li{
        list-style: none;
      }

/*================================ Register ==================================*/
.register-bg {
  background: url("../assets/cctv-background.jpg");
  background-size: cover;
  position: relative; }
  .register-bg .register-top-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    left: 0;
    background-color: #151b6b; }
  .register-bg .row .col-md-12 h1 {
    color: #fff;
    font-weight: 600; }

.register-container input {
  margin-top: 3rem; }

.btn-register {
  background-color: #c3e6ed;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.6rem 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0;
  transition: 0.2s background-color; }
  .btn-register:hover {
    background-color: #a7c5c9;
    color: white; }
  .btn-register:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-register.active {
  -webkit-box-shadow: none;
  box-shadow: none; }

.input-group {
  margin: auto;
  width: 90%; }
  .input-group label {
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 99;
    color: #9e9e9e;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .input-group input:focus ~ label {
    top: 5px;
    font-size: 1.4rem;
    color: #c3e6ed; }
  .input-group input:valid ~ label {
    top: 5px;
    font-size: 1.4rem; }
  .input-group .register-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #9e9e9e;
    border-radius: 0;
    position: relative;
    font-size: 1.8rem;
    color: #c3e6ed; }
    .input-group .register-input:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom: 2px solid #c3e6ed; }

/*================================ Footer =====================================*/
#footer {
  background-color: #151b6b;
  color: #c3e6ed;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 1rem; }

.contact-img {
  width: 25px;
  height: auto;
  margin-left: 1rem; }

/*============================ For monitoring page ===========================*/
#footer.monitoring {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99; }

.sidebar {
  background-color: #666666;
  height: 100vh;
  width: 20%;
  height: 100%;
  position: fixed;
}
  .sidebar .sidebar-toolbar > .col-md-12 {
    background-color: #151b6b;
    color: #c3e6ed;
    font-size: 2.4rem;
    padding: 0.2rem; }
  .sidebar h2 {
    color: #e5e5e5; }

    .sidebar ul li{
      list-style: none;
      margin: auto auto 20px auto;
    }

.mainpage {
  background-color: #fff;
  /*height: 100vh;*/
  width: 80%;
  height: auto;
  position: absolute;
  right: 0;
 }
  .mainpage .mainpage-toolbar {
    background-color: #fff;
    color: #000;
    padding: 0.2rem;
    overflow: hidden;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    align-items: center;
    width:80%;
    height: auto;
    position: fixed;
  }
  .mainpage .mainpage-content{
    margin-top: 80px;
    margin-left: 20px;
  }
    .mainpage .mainpage-toolbar .home-icon {
      width: 30px;
      height: auto; }
    .mainpage .mainpage-toolbar .col-md-3 {
      color: #666666;
      font-size: 2.4rem; }

/*=================== Extras =====================*/
/* The alert message box */
.alert {
    padding: 20px;
    background-color: lightgreen;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
